@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: white;
    color: rgb(50, 48, 49);
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background: rgb(50, 48, 49);
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.maincontent {
    margin-top: 190px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(58, 183, 149);
}

p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}