@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: white;
    color: rgb(50, 48, 49);
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background: none;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dropdown-toggle::after {
    display:none;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.maincontent {
    margin-top: 180px;
    margin-bottom: 180px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    height: 14px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border: 2px solid rgb(50, 48, 49);
    background: rgba(255, 255, 255, 0);
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}