/* Layout */
html body {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background: none;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
}

.navbar-nav > li {
    white-space: nowrap;
}

.dropdown-menu > a:focus {
    background-color: #7CCFB8;
    color: white;
}

.navbar-logo {
    height: 90px;
}

.underline-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7CCFB8;
    transition: width .3s;
}

.underline-animation:hover::after {
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.collapse.show .navbar-nav > li {
    /* background-color: pink !important; */
}

.bottom-left {
    bottom: 20px;
    left: 20px;
    line-height: 3;
    position: fixed;
    text-align: center;
}

.social-media-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.social-media-icon:hover {
    color: rgba(0, 0, 0, 0.9);
}

#social-media-icons {
    list-style: none;
}

@media only screen and (min-width: 992px) {
    .navbar {
        background: linear-gradient(to bottom, white, white, white, white, rgba(255, 255, 255, 0));
    }

    .navbar-nav {
        left: 50%;
        transform: translatex(-50%);
    }
    
    .navbar-nav > li {
        margin-left: 40px;
        margin-right: 40px;
    }

    .dropdown-menu-center {
        left: 50%;
        text-align: center;
        transform: translate(-50%);
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background: pink;
        padding: 30px;
    }

    .navbar-nav {
        padding-top: 30px;
    }

    .navbar-logo {
        height: 60px;
    }

    .navbar-collapse {
        height: 100vh;
    }

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }

    .navbar-nav {
        height: 100vh;
    }

    .underline-animation::after {
        display: none;
    }

    .bottom-left {
        display: none;
    }
}

/* Medal Requirements */
.maincontent {
    margin-top: 200px;
    margin-bottom: 200px;
}

a:link {
    color: #f38f8f;
}

a:visited {
    color: #f38f8f;
}

a:hover {
    color: #f38f8f;
}

a:active {
    color: #f38f8f;
}

h1 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: normal !important;
    text-align: center;
}

h3 {
    color: rgb(247, 183, 51) !important;
}

h5 {
    color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
}

p {
    font-family: 'Josefin Sans', sans-serif !important;
    line-height: 1.8;
    text-align: left !important;
}

.medal-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 70%;
}

.medal-info {
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.req {
    color: #7CCFB8;
}

@media only screen and (min-width: 992px) {
    .medal-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item-1 {
        order: 1;
    }
    .flex-item-2 {
        order: 2;
    }

    .flex-item-3 {
        order: 3;
    }

    .flex-item-4 {
        order: 4;
    }

    .flex-item-5 {
        order: 5;
    }

    .flex-item-6 {
        order: 6;
    }

    .flex-item-7 {
        order: 7;
    }

    .flex-item-8 {
        order: 8;
    }

    .flex-item-9 {
        order: 9;
    }

    .flex-item-10 {
        order: 10;
    }

    .flex-item-11 {
        order: 11;
    }

    .flex-item-12 {
        order: 12;
    }

    .flex-item-13 {
        order: 13;
    }
}

@media only screen and (max-width: 991px) {
    .flex-item-12 {
        display: none;
    }
}