html body {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background: none;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
}

.navbar-nav > li {
    white-space: nowrap;
}

.dropdown-menu > a:focus {
    background-color: #7CCFB8;
    color: white;
}

.navbar-logo {
    height: 90px;
}

.underline-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7CCFB8;
    transition: width .3s;
}

.underline-animation:hover::after {
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.collapse.show .navbar-nav>li {
    background-color: white !important;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
    line-height: 3;
    position: fixed;
    text-align: center;
}

.bottom-right {
    bottom: 20px;
    display: inline-block;
    line-height: 1.5;
    position: fixed;
    right: 70px;
    text-align: center;
}

.social-media-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.social-media-icon:hover {
    color: rgba(0, 0, 0, 0.9);
}

#social-media-icons {
    list-style: none;
}

/* Responsiveness */
@media only screen and (min-width: 992px) {
    .navbar-nav {
        left: 50%;
        transform: translatex(-50%);
    }
    
    .navbar-nav > li {
        margin-left: 40px;
        margin-right: 40px;
    }

    .dropdown-menu-center {
        left: 50%;
        text-align: center;
        transform: translate(-50%);
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background: white;
        padding: 30px;
    }

    .navbar-nav {
        padding-top: 30px;
    }

    .navbar-logo {
        height: 60px;
    }

    .underline-animation::after {
        display: none;
    }

    .bottom-left {
        display: none;
    }

    .bottom-right {
        display: none; 
    }
}