@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: rgb(50, 48, 49);
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background: linear-gradient(to bottom, rgba(50, 48, 49, 1), rgba(50, 48, 49, 0));
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.maincontent {
    margin-top: 180px;
    margin-bottom: 180px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}