@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: rgb(50, 48, 49);
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background: none;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.maincontent {
    margin-top: 180px;
    margin-bottom: 180px;
}

h1 {
    text-align: center;
}

p {
    padding: 20px;
    text-align: justify;
}

img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(50, 48, 49);
}

.containerPerson {
    padding: 0;
}

.containerPerson:hover .overlay {
    opacity: 1;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    height: 14px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0);
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}